/* 
    Document   : stars
    Created on : 10-Jan-2014, 22:10:04
    Author     : Lance
    Description:
        Purpose of the stylesheet follows.
*/

#galaxy-container, #planets-container {
    float: left;
    margin: 5px 0 0 25px;
	position: relative;
}

#galaxy {
    background: black; /*url('../img/stars1.jpg') center center;*/
}

#planets-container {
}

#planets {
    background: black; /*url('../img/stars1.jpg') center center;*/
}

.star-pic, .planet-pic {
    position: absolute;
    cursor: pointer;
}

#tooltip {
    position: absolute;
	color: white;
	font-weight: bold;
}

#blurb {
	width: 450px;
	font-size: 12px;
}


h1 {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	padding: 0;
	margin: 5px;
}