/* 
    Document   : stars
    Created on : 10-Jan-2014, 22:10:04
    Author     : Lance
    Description:
        Purpose of the stylesheet follows.
*/


#galaxy {
    background: black; /*url('../img/stars1.jpg') center center;*/
}