/* 
    Document   : stars
    Created on : 10-Jan-2014, 22:10:04
    Author     : Lance
    Description:
        Purpose of the stylesheet follows.
*/

#galaxy-container, #planets-container {
    float: left;
    margin: 25px;
}

#galaxy {
    background: black; /*url('../img/stars1.jpg') center center;*/
}

#planets-container {
}

#planets {
    background: black; /*url('../img/stars1.jpg') center center;*/
}

.star-pic {
    position: absolute;
    cursor: pointer;
}